# Base URL for Application Under Test (AUT)
BASE_URL=https://www.saucedemo.com/

# Browser Configurations: chromium, firefox, webkit
BROWSER=chromium
HEADLESS=True
TIMEOUT=10000

# Credentials
DEMO_USERNAME=standard_user
DEMO_PASSWORD=secret_sauce
LOCKED_OUT_USERNAME=locked_out_user
